@import '../bourbon/bourbon';
@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'columns';
@import 'nav';
@import 'films';
@import 'modal';

body {
	font-family: Helvetica, sans-serif;

	p {
		padding: 5px;
	}

}

a {
    color: $default;
    text-decoration: none;
    // text-transform: uppercase;


    &:hover {
        color: $blue;
    }

}

#container {
	margin: 0 auto;
	width: 90%;
}